.products {
  display: grid;
  grid-template-columns: repeat(3, 280px);
  gap: 24px;
}

@media (max-width: 900px) {
  .products {
    grid-template-columns: repeat(2, 280px);
  }
}

@media (max-width: 600px) {
  .products {
    grid-template-columns: 1fr;
  }
}